
.main-search-field
{
    display: flex;
    flex-direction: column;
    width: inherit; 
    height: 100%;
    margin-top: 200px;
}

.main-search-field-item
{
    flex-grow: 1; 
    margin-left: 10%;
    margin-right: 10%;
    font-size: medium;
}

.logo
{
    object-fit: contain; 
    height: 150px; 
    width: 90%; 
    margin: auto; /* center */
}

.home-page-subtitle
{
    flex-grow: 1; 
    margin-left: 10%;
    margin-right: 10%;
    font-size: small;
    text-align: center;
}