################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/data-loader/WhoIsWho.DataLoader.Azure/Properties/ServiceDependencies/func-whoiswho-we-001 - Zip Deploy/profile.arm.json
